<div class="Maincart-container">
    <div class="header">
        <a href="/bookstore/home">Home /</a>
        <h5>My cart</h5>
    </div>

    <mat-card class="carts-container">
        <div class="carts-container-header-div">
            <h2>My cart <span *ngIf="ifCartList()">({{cartList.length}})</span> </h2>
            <div class="location-div">
                <img src="../../../assets/Icons/distance_20dp_FILL1_wght400_GRAD0_opsz20.svg" alt="location-icon">
                <select name="" id="">
                    <option value="">Use current location</option>
                </select>
            </div>
        </div>
        <mat-card *ngFor="let cart of cartList" class="cart">
            <mat-card-content class="cart-content">
                <div class="cart-content-left">
                    <div class="cart-content-left-content-div">
                        <img [src]="cart.image" alt="cart-image">
                        <div class="cart-content-left-content-div-description">
                            <h1>{{cart.title}}</h1>
                            <p>{{cart.author}}</p>
                            <div class="cart-price">
                                <h1>Rs.{{cart.finalBookPrice}}</h1>
                                <p><del>Rs.{{cart.originalBookPrice}}</del></p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-btns">
                        <div class="update-btns">
                            <!-- (click)="bookCount = bookCount-1" also wrks-->
                            <button (click)="reduceBookCount(cart)"><img
                                    src="../../../assets/Icons/remove_20dp_FILL0_wght400_GRAD0_opsz20.svg"
                                    alt="negative-icon"></button>
                            <h5>{{cart.quantity}}</h5>
                            <button (click)="increaseBookCount(cart)"><img
                                    src="../../../assets/Icons/add_20dp_FILL0_wght400_GRAD0_opsz20.svg"
                                    alt="add-icon"></button>
                        </div>
                        <div class="remove-btn"><button mat-button (click)="onRemoveCart(cart)">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="cart-content-right">

                    <div class="placeorder-btn">
                        <button *ngIf="!ifPlaceOrderClicked" (click)="onPlaceOrder(cart)">PLACE ORDER</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card>

    <br><br><br>

    <!-- -------------------------------------------- -->

    <mat-card *ngIf="!ifPlaceOrderClicked" class="address-details-card">
        <h4>Address Details</h4>
    </mat-card>

    <app-address-details *ngIf="ifPlaceOrderClicked" [addressList]="addressArray"
        (addressAdded)="onAddressAdded($event)" (addressSelected)="onAddressSelected($event)"></app-address-details>

    <mat-accordion class="example-headers-align" id="mat-accordion">

        <!-- <mat-expansion-panel *ngIf="ifPlaceOrderClicked" [expanded]="step() === 0" (opened)="setStep(0)" hideToggle
            class="m1">
            <mat-expansion-panel-header>
                <mat-panel-title> Customer Details</mat-panel-title>
                <button *ngIf="addressArray && addressArray.length > 0" mat-button> Add New Address</button>
            </mat-expansion-panel-header>
            <app-address-details [addressList]="addressArray" (addressAdded)="onAddressAdded($event)"
                (addressSelected)="onAddressSelected($event)"></app-address-details>

        </mat-expansion-panel> -->

        <mat-expansion-panel [expanded]="step() === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> Order Summary </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="selectedCart && selectedAddress">
                <div class="cart-content-left-content-div">
                    <img [src]="selectedCart.image" alt="cart-image">
                    <div class="cart-content-left-content-div-description">
                        <h1>{{selectedCart.title}}</h1>
                        <p>{{selectedCart.author}}</p>
                        <div class="cart-price">
                            <h1>Rs.{{selectedCart.finalBookPrice}}</h1>
                            <p><del>Rs.{{selectedCart.originalBookPrice}}</del></p>
                        </div>
                    </div>
                </div>
                <div class="placeorder-btn" id="checkout-btn">
                    <button (click)="onCheckout(selectedCart)">CHECKOUT</button>
                </div>
            </div>
            <!-- <mat-action-row>
                <button mat-button (click)="prevStep()">Previous</button>
                <button mat-button (click)="nextStep()">End</button>
            </mat-action-row> -->
        </mat-expansion-panel>
    </mat-accordion>

    <br><br><br>
    <!-- ----------------------------------------------- -->

</div>