<mat-toolbar class="nav-bar">
    <mat-toolbar-row class="nav-bar-content">
        <div class="nav-bar-content-s1">
            <div class="header-content">
                <img src="../../../assets/Images/openbook-header.png" alt="open-book">
                <p>Bookstore</p>
            </div>
        </div>
        <div class="nav-bar-content-s2" [ngClass]=" {'focused': isFocused}">
            <button mat-icon-button (click)="onFocus()"><img
                    src="../../../assets/Icons/search_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="Search Logo"></button>
            <input type="text" [(ngModel)]="value" placeholder="Search" (keyup)="search($event)"
                class="nav-bar-content-s2-input" (focus)="onFocus()" (blur)="onBlur()"
                [ngClass]="{'focused': isFocused}" #searchInput>
            <button class="close-btn" *ngIf="isFocused || value" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearValue()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="nav-bar-content-s3">
            <!-- <button class="profile-btn">
                <img src="../../../assets/Icons/person_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="profile">
                <p>Profile</p>
            </button> -->
            <button class="profile-btn" [matMenuTriggerFor]="menu">
                <img src="../../../assets/Icons/person_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="profile">
                <p>{{UserName}}</p>
            </button>
            <mat-menu #menu="matMenu">
                <div *ngIf="!isLoggedIn" class="un-loggedIn-card">
                    <div class="un-loggedIn-card-s1">
                        <h6>Welcome</h6>
                        <p>To access account and manage orders</p>
                        <button (click)="goToLoginSignup()">LOGIN/SIGNUP</button>
                    </div>
                    <hr class="hr">
                    <button mat-menu-item disabled class="mat-menu-item">
                        <mat-icon><img src="../../../assets/Icons/redeem_20dp_FILL0_wght400_GRAD0_opsz20.svg"
                                alt="reedem-logo"></mat-icon>
                        <span class="mat-menu-item-span">My Orders</span>
                    </button>
                    <button mat-menu-item disabled class="mat-menu-item">
                        <mat-icon><img src="../../../assets/Icons/favorite_20dp_FILL0_wght400_GRAD0_opsz20.svg"
                                alt="favorite-logo"></mat-icon>
                        <span class="mat-menu-item-span">Wishlist</span>
                    </button>
                </div>
                <div *ngIf="isLoggedIn" class="loggedIn-card">
                    <div class="loggedIn-card-s1">
                        <h6>Welcome {{UserName}},</h6>
                    </div>
                    <button (click)="goToProfile()" mat-menu-item class="mat-menu-item"><mat-icon><img
                                src="../../../assets/Icons/person_20dp_FILL0_wght400_GRAD0_opsz20.svg"
                                alt="profile"></mat-icon>
                        <span class="mat-menu-item-span">Profile</span> </button>
                    <button (click)="goToOrders()" mat-menu-item class="mat-menu-item">
                        <mat-icon><img src="../../../assets/Icons/redeem_20dp_FILL0_wght400_GRAD0_opsz20.svg"
                                alt="reedem-logo"></mat-icon>
                        <span class="mat-menu-item-span">My Orders</span>
                    </button>
                    <button (click)="goToWishlist()" mat-menu-item class="mat-menu-item">
                        <mat-icon><img src="../../../assets/Icons/favorite_20dp_FILL0_wght400_GRAD0_opsz20.svg"
                                alt="favorite-logo"></mat-icon>
                        <span class="mat-menu-item-span">My Wishlist</span>
                    </button>
                    <button class="logout-btn" (click)="onLogout()">LOGOUT</button>
                </div>
            </mat-menu>
            <button (click)="goToCart()" class="cart-btn">
                <img src="../../../assets/Icons/shopping_cart_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="cart">
                <p>Cart <span>{{1}}</span></p>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet class="children">
    <!-- <app-books-container></app-books-container> -->
</router-outlet>

<div class="footer-toolbar">
    <p>Copyright #&copy; 2020, Bookstore Private Limited. All Rights Reserved</p>
</div>