* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.getbook-container {
    width: 1130px;
    height: fit-content;
    background-color: aquamarine;
    margin: auto;
    margin-top: 40px;
}